{% extends 'inherit.html' %}
{% load static %}
{% block head2 %}


<link rel="stylesheet" href="{% static 'css/blog_list.css' %}">


{% endblock %}

    
{% block body %}


    {% include 'inc/navbar.html' %}
    {# wrapper div   #}

    <div class="container my-5">

 

      

            <div id="PageContainer">
                
                <div class="main-content  ">
                                <div class="background-content"></div>
                     <div class="background">
                                  <div class="shadow"></div>
                        <div class="pattern">
                            <div class="page-width">
                                 <div class="container px-2 pb-5">
                                                <div class="row">
                                                    <div id="col-main" class="center-column content-with-background blog-page col-md-9 col-sm-12">
                                                        <div class="posts">
                                                            {% for item in list %}
                                                            <div class="post">
                                                                <div class="post-content " >
                                                                    <div class="post-media">
                                                                    <img width="100%" src="{{ item.get_photo_url }}">
                                                                    </div>
                                                                    <div class="tags">
                                                                    <a href="{% url 'blog-detail' item.slug item.pk %}">{{ item.title }}</a>
                                                                    </div>
                                                                        <div class="date-published">Jan 28, 2020</div>
                                                                    <h2 class="post-title">

                                                                    </h2>
                                                                    <div class="post-description">{{ item.text|truncatechars_html:170|safe}}
                                                                    </div>
                                                                    <div class="text-center">

                                                                    <a href="{% url 'blog-detail' item.slug item.pk %}"  class="button-more btn--secondary-accent">Read more</a><br><br>
                                                                    </div>
                                                                    
                                                                </div>       
                                                            </div>
                                                            {% endfor %}
                                                            
                                                                        
                                                        </div>
                                                                        
                                                                        <div class="row pagination-results pagination advanced-pagination">
                                                                            <div class="pagination-action"></div>
                                                                            <div class="pagination-number col-sm-6 text-left"></div>
                                                                            <div class="col-sm-6 text-right pagination-result">
                                                                            Showing: 1 -9 of 9
                                                                            </div>
                                                                        </div>
            
                                                    </div>
            
            
            
            
            
            
            
            
            
            
            
            
            
                                                                    <div id="sidebar" class="col-md-3 col-sm-12">
                                                                        <div class="box blog-module blog-popular-posts box-no-advanced">
                                                                            <div class="box-heading"><h3>Recent Posts</h3></div>
                                                                                    <div class="strip-line"></div><br><br>
                                                                                        <div class="box-content box-popular-posts">
                                                                                                    <ul class="blog-list-default">
                                                                                                        <!-- <li> -->
                                                                                                        <div class="media">
                                                                                                            <a href="/blogs/news/wifi-extender-booster-could-it-boost-or-extend-your-wireless-signal"><div class="thumb-holder">
                                                                                                                <img alt="WiFi extender booster could it boost or extend your wireless signal?" src="//cdn.shopify.com/s/files/1/1852/8453/articles/Wifi_extender_booster_100x130_crop_top.jpg?v=1610386321" />
                                                                                                            </div><div class="media-body">
                                                                                                                <div class="date-published">Jan 28, 2020</div>
                                                                                                                <h5>WiFi extender booster could it boost or extend your wireless signal?</h5>
                                                                                                            </div>
                                                                                                            </a>
                                                                                                        </div>
                                                                                                        <!-- </li> -->
                                                                                                        <!-- <li> -->
                                                                                                        <div class="media">
                                                                                                            <a href="/blogs/news/argos-mobile-phone-alternatives"><div class="thumb-holder">
                                                                                                                <img alt="Argos mobile phone alternatives from Ziegal starting from just £99" src="//cdn.shopify.com/s/files/1/1852/8453/articles/argos_mobile_phone_alternative_100x130_crop_top.jpg?v=1546872183" />
                                                                                                            </div><div class="media-body">
                                                                                                                <div class="date-published">Jan 08, 2019</div>
                                                                                                                <h5>Argos mobile phone alternatives from Ziegal starting from just £99</h5>
                                                                                                            </div>
                                                                                                            </a>
                                                                                                        </div>
                                                                                                        <!-- </li> -->
                                                                                                        <!-- <li> -->
                                                                                                        <div class="media">
                                                                                                            <a href="/blogs/news/privacy-settings-on-your-android-mobile-phone-you-should-consider-changing"><div class="thumb-holder">
                                                                                                                <img alt="Privacy settings on your android mobile phone you should consider changing." src="//cdn.shopify.com/s/files/1/1852/8453/articles/mobile_phone_privacy_100x130_crop_top.jpg?v=1528414458" />
                                                                                                            </div><div class="media-body">
                                                                                                                <div class="date-published">Aug 01, 2018</div>
                                                                                                                <h5>Privacy settings on your android mobile phone you should consider changing.</h5>
                                                                                                            </div>
                                                                                                            </a>
                                                                                                        </div>
                                                                                                        <!-- </li> -->
                                                                                                    </ul>
                                                                                        </div>
                                                                        </div>
            
            
            
                                                                      
            
                                                                    </div>
            
            
            
            
                                                </div>
                                </div>                    
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
            






        
        

    </div>


    




   


    {% include 'inc/footer.html' %}

{% endblock %}

{% block script %}

{% endblock %}
