{% extends 'inherit.html' %}
{% load static %}
{% block head2 %}
    <meta name="{{ name }}" content="{{ description }}">
    <title>{{ title }}</title>
{% endblock %}

{% block body %}

    {% include 'inc/navbar.html' %}

    {#  wrapping div  #}
    <div class="container my-5">

    {#  youtube video div  #}
        <div>
            <video src="blob:https://www.youtube.com/03dce4a5-72e1-4d7b-ae17-8192dd12baa3" height="500px" class="w-100" controls></video>
        </div>

    {#  text1 div  #}
        <div class="text-center my-3">
            <h2>OUR PHONES ARE UNLOCKED TO ANY NETWORK OPERATOR.</h2>
            <p>Dual sim mobile phones may seem to be unnecessary to some people but in reality, they are not. Many employees and entrepreneurs require a separate private and business telephone number and thus they require multiple sim cards. However, using two mobile phones is a very challenging task. This is where dual sim smartphones come to the rescue</p>
            <img src="{% static 'imgs/dualsim1.PNG' %}" class="img-mobile" alt="Dual Sim mobile">
            <p class="my-3">It also helps users who would like to take advantage of the specialized tariffs and offers with another network operator. Many times the cost of a new device might stop users from trying out a new network. Dual sim mobile phones are the perfect solution for this scenario.</p>
            <img src="{% static 'imgs/dualsim2.PNG' %}" class="img-mobile" alt="Dual Sim mobile with sim">
            <p>With this said, in the era of top CPUs, RAMs and high resolution such as QHD, dual sim phones are scarce and often more expensive than the single sim counterparts. It is impressive to know that the dual sim version of Samsung S8 is not officially available in the UK. The price of these dual sim phones UK models and their availability proves the fact that that dual sim support is considered as a premium feature. Also, the support of dual-sim is one of the most elementary features and there is no reason why any phone should be lacking this.</p>
        </div>

    {#  text2 div  #}
        <div class="my-4 text-center">
            <h2>5 BEST 2021 AFFORDABLE DUAL SIM MOBILE PHONES IN UK</h2>
            <p>Eyeing to save money on your next mobile phone purchase? We round up the best budget and affordable dual sim mobile phones you can buy in the UK. If you move your gaze away from big-hitter highly priced mobile phones, you will find yourself an excellent bargain, as there are some brilliant budget and affordable mobile phones to be found</p>
        </div>

    {#    text3 div    #}
        <div class="my-4 text-center">
            <h2>Are there good budget mobile Phones available in Market?</h2>
            <p>Certainly, flagship mobile phones such as the Samsung Galaxy Note 20 Ultra and the iPhone 12 Pro are brilliant mobiles, but you no longer have to spend high amounts to get excellent smartphone experience. Even most of these flag ship mobiles are network locked in UK meaning that you will not be able to switch networks. We will discuss top 5 most affordable mobile phones in this article. Along with affordability, we are also looking for mobile phones providing excellent performance and offer dual sim capacities as well.</p>
            <img src="{% static 'imgs/dualsim3.PNG' %}" class="img-mobile" alt="Dual Sim mobiles">
        </div>

    {#  text4 div  #}
        <div class="my-4 text-center">
            <h2>Why Use Dual Sim Phones?</h2>
            <p>Separate personal life and business with a dual-SIM mobile phone. We round up the best android mobile phones that accept two SIMs and are affordable as well. Dual SIM mobile phones let you use two separate SIMs in a single mobile phone. Most people use dual-SIM phones because they give you freedom to use two sim cards from any network of your own choice. It’s also best to carry one mobile phone instead of carrying separate phones for personal contracts and work. Dual sim phones are also useful when one network may offer a good package for calls and the other network might offer unlimited data. Or perhaps you regularly travel overseas and would like to use Sim of network provider from the country you're visiting.</p>
        </div>

    {#  text4 div  #}
        <div class="my-4 text-center">
            <h2>How to select the best budget mobile phone for you in 2021?</h2>
            <p>Picking the perfect affordable mobile phone isn't easy and there are all sorts of aspects to deliberate when taking decision to buy. Before you move forward to the checkout, you must match your basic requirements with the mobile phone you are going to buy. To help you out in your decision we have shortlisted the key benchmarks you require to look out for</p>
            <img src="{% static 'imgs/dualsim6.PNG' %}" class="img-mobile" alt="Choosing dual sim">
        </div>

    {#  text5 div  #}
        <div>
            The complete blog
        </div>

        <div class="my-4 text-center">
            <h2 style="color:#ff8000;">VERDICT</h2>
            <p>We have gone through the 5 best affordable mobile phones in UK that come with dual SIM functionality. We have discussed why each mobile is best and what its benefits for user are. What matters is that you have to make certain that you are buying a mobile phone that meets your day-to-day needs.</p>
        </div>
    </div>


    {% include 'inc/footer.html' %}
{% endblock %}

{% block script %}

{% endblock %}