{% extends 'inherit.html' %}
{% load static %}
{% block head2 %}


<link rel="stylesheet" href="{% static 'css/blog_list.css' %}">


{% endblock %}

    
{% block body %}


    {% include 'inc/navbar.html' %}
    {# wrapper div   #}
    
<div id="PageContainer">
    <div class="mini-breadcrumb mb-md-5">
            <div class="background">
                    <div class="pattern">
                            <div class="container">
                            <!-- <div class="breadcrumb-content clearfix d-flex flex-wrap">
                                <h1 id="title-page" class="hide">News</h1>
                                <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
                                <li itemprop="itemListElement" itemscope
                                    itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" href="https://www.ziegal.co.uk">
                                    <span itemprop="name">Home</span></a>
                                    <meta itemprop="position" content="1" />
                                </li><li itemprop="itemListElement" itemscope
                                    itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" href="/blogs/news">
                                    <span itemprop="name">News</span></a>
                                    <meta itemprop="position" content="2" />
                                </li></ul>
                            </div> -->
                            </div>
                    </div>
            </div>
    </div>
    <div class="main-content  ">
                    <div class="background-content"></div>
         <div class="background">
                      <div class="shadow"></div>
            <div class="pattern">
                <div class="page-width">
                     <div class="container px-2 pb-5">
                                    <div class="row">
                                        <div id="col-main" class="center-column content-with-background blog-page col-md-9 col-sm-12">

                                            <div class="post">
                                                <div class="post-entry"><div class="post-media">
                                                    <img alt="2017 Investment opportunity from Ziegal Ltd" class="lazyload" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-src="//cdn.shopify.com/s/files/1/1852/8453/articles/wifi.jpg?v=1546864856" />
                                                  </div><div class="post-content"><div>
                                          <iframe src="https://www.youtube.com/embed/syBtpbSd9Ko" allowfullscreen="" width="560" height="315" frameborder="0"></iframe> </div>
                                          <h2><strong>Ziegal Ltd want to revolutionize the UK’s Broadband market by massively increasing the internet speeds available across the country.</strong></h2>
                                          <p>We will do this by introducing state of the art technology in the form of Z pods. Z pods will be installed throughout the UK and transmit WiFi using the 5GHz signal. Seamless connectivity will be provided to all users 24/7 giving the UK’s internet options a much needed boost. <br>Funds will be utilized for the entire setup including network equipment and procurement, asset purchasing, marketing and administrative expenses. Contact 0800 211 8289 or email ziegal.ltd@ziegal.co.uk</p></div>
                                                  <ul class="meta">
                                                    <li>Sep 30, 2017</li>
                                                    <li class="post-categories"><span>Category: </span><a href="/blogs/news">News</a></li>
                                                    <li> Comments: 0</li>
                                                  </ul><div class="tags"><a href="/blogs/news/tagged/british-investment-opportunties" title="Narrow search to articles also having tag british investment opportunties">british investment opportunties</a>
                                          <a href="/blogs/news/tagged/business-investment" title="Narrow search to articles also having tag business investment">business investment</a>
                                          <a href="/blogs/news/tagged/buy-company-shares" title="Narrow search to articles also having tag buy company shares">buy company shares</a>
                                          <a href="/blogs/news/tagged/invest-in-companies" title="Narrow search to articles also having tag invest in companies">invest in companies</a>
                                          <a href="/blogs/news/tagged/investing-money" title="Narrow search to articles also having tag investing money">investing money</a>
                                          <a href="/blogs/news/tagged/investment" title="Narrow search to articles also having tag investment">investment</a>
                                          <a href="/blogs/news/tagged/investment-opportuntites" title="Narrow search to articles also having tag investment opportuntites">investment opportuntites</a>
                                          </div><div class="box box-no-advanced leave-reply" id="reply-block">
                                                    <div class="box-heading">Leave a comment</div>
                                                    <div class="box-content"><form method="post" action="/blogs/news/2017-investment-opportunity-from-ziegal-ltd/comments#comment_form" id="comment_form" accept-charset="UTF-8" class="comment-form"><input type="hidden" name="form_type" value="new_comment" /><input type="hidden" name="utf8" value="✓" /><div class="form-horizontal">
                                                        <div class="form-group required no-gutters">
                                                          <div class="col-xs-12 col-sm-6">
                                                            <label class="control-label" for="input-name">Name</label>
                                                            <input required="required" type="text" id="input-name" class="form-control" name="comment[author]" value="" />
                                                          </div>
                                                          <div class="col-xs-12 col-sm-6">
                                                            <label class="control-label" for="input-email">E-Mail</label>
                                                            <input required="required" type="email" id="input-email" class="form-control" name="comment[email]" value="" />
                                                          </div>
                                                        </div>
                                                        <div class="form-group required">
                                                          <div class="col-xs-12">
                                                            <label class="control-label" for="input-content">Message</label>
                                                            <textarea required="required" id="input-content" name="comment[body]" rows="10" class="form-control"></textarea>
                                                          </div>
                                                        </div>
                                                        <div class="text-center">
                                                          <button class="button button-large button-comment" id="button-comment" type="submit">Post comment</button>
                                                        </div>
                                                      </div></form></div>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>









            




                                    </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>









    


    {% include 'inc/footer.html' %}

{% endblock %}

{% block script %}

{% endblock %}
