<!-- {% extends 'inherit.html' %}
{% load static %}

{% block head2 %}
    <meta name="{{ name }}" content="{{ description }}">
    <title>{{ title }}</title>
{% endblock %}


{% block body %}
    {% include 'inc/navbar.html'%}

{#  wrapping div  #}
    <div class="container">



        <div class="text-center">
        <h2>Why Mobile Broadband?</h2>
        <p>There are multiple reasons for using best phone broadband deals depending on the needs of a person. Mobile broadband offers a lot of flexibility. You can have your internet connection wherever you can find a mobile network signal. You can take it along with you while traveling and any outdoor locations without worrying about internet availability.</p>
        <img src="{% static 'imgs/bb1.PNG' %}" class="img-mobile" alt="">
        <p>One of its major advantage is for users who live in remote areas of the UK where a fixed line or regular broadband connection has limited access. Even in remote areas where the fixed line is available, it offers very slow internet speed as homes may be located at long distances from the nearest exchange. But, if these places are covered by 4G mobile networks, mobile broadband can offer quicker and more consistent speeds than an ADSL connection.</p>
        </div>

    </div>


{% include 'inc/footer.html' %}
{% endblock %}


{% block script %}

{% endblock %} -->