{% extends 'inherit.html' %}

{% block head2 %}
	<title>{{ detail.meta_title }}</title>
	<meta name="{{ detail.meta_name }}" content="{{ detail.meta_description }}">
<style>
    body{margin-top:20px;}

.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}
img {
    border: 0;
}
.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    font-weight: 700 !important;
}
</style>
   

{% endblock %}

{% block body %}


    {% include 'inc/navbar.html' %}
{#  wrapping div  #}
    <div class="container">
        <div class="row m-0  my-5">

        {#  for cover img  #}
        <div style="width: 40%;" class="col-lg-6 width80 mtb">
            {% for item in detail.product_img.all %}
                {% ifequal forloop.counter 1 %}
                    <img src="{{ item.get_photo_url }}" height="350px" id="cover_img" style="max-width:100%" class="mtb img-mobile" alt="{{ item.color }}">

                {% endifequal %}



    {#  for list fo img  #}
                <div class="my-3">
                    <img src="{{ item.get_photo_url }}" onclick="change_img(event)" height="50px" width="50px" style="cursor:pointer;" class="my-2 img" alt="{{ item.color }}">
                </div>
            {% endfor %}
        </div>

    {#  text/info div  #}
        <div class="col-lg-6">
            <div>
                <h2>{{ detail.name }}</h2>
                <p>{{ detail.price }}</p>
                <p>VAT included. Free UK Delivery</p>
                <p>Hurry! Only {{ detail.stock }} left in stock!</p>
                <div class="p-3 border my-2">
                    <p class="px-3 py-1 m-0" style="background-color: pink;display: inline-block;border-radius: 6px;font-weight: 700">Klarna.</p>
                    <p style="display: inline-block" class="m-0">Make 3 payments of £66.33. No fees</p>
                    <a href="https://shop.ee.co.uk/benefits?mchannel=PZ&WT.mc_id=ON_MEC_A_PZ_ziegal&clickref=1101lhjimHv2&WT.tsrc=Affiliate&dclid=CPeY0_fb7vECFQ2ZhQodOUkGI"
                     class="default_a">Learn more</a>

                </div>
                <h4 id="color">Color: </h4>

                <div class="d-flex justify-content-around w-50 width100">

                    <input type="submit" onclick="operation(event)" class="btn btn-dark align-self-center" value="-">
                    <input type="number" id="qty" class="form-control-cart align-self-center" value="1">
                    <input type="submit" onclick="operation(event)" class="btn btn-dark align-self-center" value="+">
                    <button onclick="add_to_cart(event,{{ detail.pk }})" class="btn btn-dark align-self-center">ADD TO CART</button>


                </div>

            </div>
        </div>

    </div>

        <div class="">
            <h2>Description</h2>
            <p>{{ detail.features|safe }}</p>
        </div>
        <div class="my-5">
            <!-- <h2>Reviews</h2> -->




            <div class="py-5">
                <div class="mgb-40 padb-30 auto-invert line-b-4 align-center">
                    <h4 class="font-cond-l fg-accent lts-md mgb-10" contenteditable="false">Not Yet Convinced?</h4>
                    <h1 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">Read Customer Reviews</h1>
                </div>
                <ul class="row m-0 ">
                    {% for item in review %}
                    <li class="col-lg-3 border-right text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                    <p class="" contenteditable="false">"{{ item.comment }}"</p>
                    <h5 class="" contenteditable="false">{{ item.user.username }}</h5>
                    <small class="" contenteditable="false">{{ item.rating }}/5</small>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="text-center my-2">
	        <button class="btn btn-dark" data-toggle="modal" data-target="#reviewModal">Add a review</button>
        </div>
    </div>

    <div style="position: fixed;bottom: -10%;left: 45%;transition: all 0.7s ease-in-out" class="text-white" id="sign">
        <p class="bg-dark px-2 p-1 " style="border-radius: 6px">Added to cart!</p>
    </div>
    {% include 'inc/footer.html' %}

	<div class="modal fade" id="reviewModal">
		<div class="modal-dialog" tabindex="-1">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Add a review</h4>
				</div>
				<div class="modal-body">
					<form action="{% url 'rating' %}" method="POST" >{% csrf_token %}
						<div>
							<label for="comment">Comment</label>
							<textarea id="comment" name="comment" required cols="5" rows="5" class="form-control" placeholder="Comment"></textarea>
						</div>

						<div class="my-3">
							<label for="rating">Rating</label>
							<input type="number" min="1" name="rating" max="5" step="any" required id="rating" placeholder="Rating out of 5" class="form-control">
						</div>
						<input type="text" value="{{ detail.pk }}" hidden name="product_id">
						<input type="text" value="{{ detail.slug }}" hidden name="product_slug">
						<button class="text-right btn btn-dark " type="submit">Submit</button>
					</form>


				</div>

			</div>

		</div>

	</div>

{% endblock %}

<script>
{% block script %}
    const imgs = document.getElementsByClassName('img')
    const p = document.getElementById('color')

    p.innerHTML = `Color: ${imgs[0].alt}`


       function change_img(e){

        const cover = document.getElementById('cover_img')
        cover.src = e.target.src
        for (let i=1;i<imgs.length;i++) {
            imgs[i].style.border = 'none'

    }
        e.target.style.border = '1px solid black'
        p.innerHTML = `Color: ${e.target.alt}`

    }


    function operation(e){
        if (e.target.value === '-') {
            if (parseInt(e.target.nextElementSibling.value) === 1) {
                e.target.nextElementSibling.value = 1
            } else {
                e.target.nextElementSibling.value = parseInt(e.target.nextElementSibling.value) - 1
            }
        }
        else if (e.target.value === '+'){
            e.target.previousElementSibling.value = parseInt(e.target.previousElementSibling.value) +1
        }
    }

    function add_to_cart(e,pk){
        const qty = document.getElementById('qty').value
        const sign = document.getElementById('sign')
        const color = p.innerText.split(':')
        const base_url = location.origin
        fetch(`${base_url}/add-to-cart/${pk}/${qty}/${color[1]}/`)
        .then((res)=>{
            return res.json()
        })
        .then((result)=>{
            if (result.added === 'redirect'){
                location.replace(`${base_url}/login/`)
            }
            else {
                sign.style.bottom = 10 + '%'
                setTimeout(() => {
                    sign.style.bottom = -10 + '%'
                }, 1500)
                count()
            }
        })

    }
{% endblock %}
</script>