{% extends 'inherit.html' %}
{% load static %}
{% block head2 %}


<link rel="stylesheet" href="{% static 'css/blog_list.css' %}">


{% endblock %}

    
{% block body %}


    {% include 'inc/navbar.html' %}
    {# wrapper div   #}
    
<div id="PageContainer">
    <div class="mini-breadcrumb mb-md-5">
            <div class="background">
                    <div class="pattern">
                            <div class="container">
                            <!-- <div class="breadcrumb-content clearfix d-flex flex-wrap">
                                <h1 id="title-page" class="hide">News</h1>
                                <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
                                <li itemprop="itemListElement" itemscope
                                    itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" href="https://www.ziegal.co.uk">
                                    <span itemprop="name">Home</span></a>
                                    <meta itemprop="position" content="1" />
                                </li><li itemprop="itemListElement" itemscope
                                    itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" href="/blogs/news">
                                    <span itemprop="name">News</span></a>
                                    <meta itemprop="position" content="2" />
                                </li></ul>
                            </div> -->
                            </div>
                    </div>
            </div>
    </div>
    <div class="main-content  ">
                    <div class="background-content"></div>
         <div class="background">
                      <div class="shadow"></div>
            <div class="pattern">
                <div class="page-width">
                     <div class="container px-2 pb-5">
                                    <div class="row">
                                        <div id="col-main" class="center-column content-with-background blog-page col-md-9 col-sm-12">
                                            
                                            <div class="post">
                                                <div class="post-entry"><div class="post-media">
                                                    <img alt="Privacy settings on your android mobile phone you should consider changing." class="lazyload" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-src="//cdn.shopify.com/s/files/1/1852/8453/articles/mobile_phone_privacy.jpg?v=1528414458" />
                                                  </div><div class="post-content"><div style="text-align: left;"></div>
                                          <div style="text-align: left;">Recently we have witnessed a rapid advancement of technology in different areas of life, technology has been seen as something great that makes life easier.  Advancements in technology also have the ability to accumulate wealth for the innovator, build and earn a name in the industry as well bridging competitive gaps.</div>
                                          <div style="text-align: left;">One of the areas in which technology has really helped the public is communication.</div>
                                          <div style="text-align: left;"></div>
                                          <div style="text-align: left;">We have all seen and used the many applications (apps) that enable us to communicate efficiently and effectively to family and friends across the world. These amazing developments have really allowed people and communities all over the world to connect with each other in a way that was never possible before. Being able to video call at the touch of a button and see who you are talking to has been a real game changer in the way we stay in touch with each other and the type of information that is available about us is astounding.</div>
                                          <div style="text-align: left;">To a very large extent mobile phones which are the most popular means of communication are now seen as part of normal life. They are no longer something just used by high flying business people, everyone from children to the elderly now own a mobile phone and its very rare to hear of someone that does not own a mobile phone.</div>
                                          <div style="text-align: left;"></div>
                                          <div style="text-align: left;">We have become a society where a mobile phone is an essential part of our life, and to a point we depend on it so much, take for instance forgetting your mobile phone the panic you feel the moment you realize you don't have it and the effect that this can have on a persons day is unbelievable. We literally store our lives on our mobiles phones so when its not with us many people feel lost. But is storing every aspect of our life from our pictures to our diaries really safe? With all the apps we download and all the web browsing, do we really know how much information we give out about ourselves to the world without even knowing?</div>
                                          <div style="text-align: left;"></div>
                                          <div style="text-align: left;">We customize our mobile phones to meet out requirements and fit into our lives, we enter information onto apps that are shared all over the world and we allow certain apps to monitor and track every aspect of our lives via the type of searches that we do and the functions that we use.</div>
                                          <div style="text-align: left;"></div>
                                          <div style="text-align: left;"></div>
                                          <h4 style="text-align: left;">Several features on android mobile phones which people don't really know exist, or don't use to their full capabilities.</h4>
                                          <h2 style="text-align: left;"><strong>Mobile Phone advertisements</strong></h2>
                                          <div style="text-align: left;">One of the underutilized features on an Android mobile phone is the privacy and security settings that permit you to stop ads from Google.</div>
                                          <div style="text-align: left;">Have you ever feel disturbed with the over excessive ads displayed?</div>
                                          <div style="text-align: left;">Do you know you can actually stop all these Google ads? Really you can.</div>
                                          <div style="text-align: left;">To stop all these ads from displaying you need to activate the feature; click on menu and scroll to settings, select Google and then click on ads, then opt out off ads personification.</div>
                                          <div style="text-align: left;">Your mobile phone might be locked and you might want to consider one of our <a href="https://www.ziegal.co.uk" title="unlocked mobile phones">unlocked mobile phones </a>
                                          </div>
                                          <p> </p>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/android_settings_1024x1024.jpg?v=1528661302" alt="android mobile phone ad settings" style="margin-right: -490px; float: none;" width="1024x1024" height="1024x1024"></div>
                                          <p> </p>
                                          <div style="text-align: left;">Your choice to disable this prompts a halt to Google ads appearing on your mobile phone when browsing. Just in case you are interested in getting Google ads on your phone, then you need to get it enabled. Note: Category of Google ads are often based on browsing history and interest which they record.</div>
                                          <div style="text-align: center;"> </div>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/mobile_android_opt_out_ads_1024x1024.jpg?v=1528661842" alt="mobile phone opt out ad settings" style="margin-right: -490px; float: none;" width="1024x1024" height="1024x1024"></div>
                                          <h2></h2>
                                          <h2 style="text-align: left;"><strong>Lock your Mobile Phone</strong></h2>
                                          <p style="text-align: left;">Do you always wish you locked your phone and stopped certain people snooping for example while using the bathroom? Then you will like this sweet feature on the android phone. The Phone’s screen lock feature enables you to lock your screen when the phone is on standby for a set amount of time. This protects your phone from un-permitted access.</p>
                                          <p> </p>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/mobile_phone_security_settings_1024x1024.jpg?v=1528662808" alt="mobile phone security lock phone" style="margin-right: -490px; float: none;" width="1024x1024" height="1024x1024"></div>
                                          <p> </p>
                                          <p style="text-align: left;">The screen lock gets activated when it gets to the set time. It’s advised to select a good time frame so the phone does not get locked even while reading stuff on it. To get this activated, select security settings then choose screen lock and then automatically lock, this is where you select the time frame that suits you.</p>
                                          <p style="text-align: left;"> </p>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/android_mobile_phone_security_settings_1024x1024.jpg?v=1528663194" alt="android mobile phone lock settings" style="margin-right: -490px; float: none;" width="1024x1024" height="1024x1024"></div>
                                          <p> </p>
                                          <p style="text-align: left;">Seen the Google voice app yet? It’s a fantastic feature you will love on your android phone. Select settings and search voice, click and select ‘ok Google detection’ and select ‘trusted voice’. The settings for this option may vary depending on the android smartphone you are using however search for "voice" and you should be able to figure it out.</p>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/mobile_phone_voice_assitant_1024x1024.jpg?v=1528670440" alt="mobile phone voice assitant " style="margin-right: -490px; float: none;" width="1024x1024" height="1024x1024"></div>
                                          <p style="text-align: center;"> <br>This feature recognizes your voice; the imperfection about it is that while talking the phone can get unlocked just because it recognizes your voice in the room.</p>
                                          <h2 style="text-align: left;"><strong>Sim Lock your mobile phone before it get's stolen</strong></h2>
                                          <p style="text-align: left;">If your android mobile phone gets stolen and you have the SIM lock activated before this happened, then it’s not going to be of any profit to the thief. The SIM lock means that any time the mobile phone is restarted a SIM PIN code is requested. This could cause the thief to leave the mobile phone where it was taken from.</p>
                                          <p> </p>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/mobile_phone_sim_card_lock_1024x1024.jpg?v=1528671552" alt="mobile phone sim card lock" style="margin-right: -490px; float: none;" width="1024x1024" height="1024x1024"></div>
                                          <p> </p>
                                          <p style="text-align: left;">To activate this, you navigate through MENU select setting and click SIM card lock; it prompts you to enter its pin code which should be known to you alone. A PUK number is always required when the wrong Pin code is entered more than twice. A PUK number is only obtainable from the mobile network provider.</p>
                                          <p> </p>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/mobile_phone_sim_card_lock2_1024x1024.jpg?v=1528671843" alt="android smartphone sim card lock " style="margin-right: -490px; float: none;" width="1024x1024" height="1024x1024"></div>
                                          <p> </p>
                                          <p style="text-align: left;">The SIM lock keeps your phone from being accessible by unwanted persons. Another good thing is SIM lock doesn’t only lock your SIM; it makes the phone useless when stolen even when the SIM is removed from the phone.</p>
                                          <h2 style="text-align: left;"><strong>Track your mobile phone to help you find it</strong></h2>
                                          <p style="text-align: left;">With the advancement in Technology, your android phone can now be tracked when stolen or lost. Go to menu, select settings and click on google then select security, enable "find my device". Another means to activate this is; go through settings, select security and select device administrators.</p>
                                          <p><br><br></p>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/mobile_phone_remote_tracking_1024x1024.jpg?v=1528673849" alt="mobile phone remote tracking" style="float: none;" width="1024x1024" height="1024x1024"></div>
                                          <p style="text-align: left;"><br><br>This medium is where you ensure android device manger is enabled by default. To track your phone when lost, you login into Google and use the find my phone feature.</p>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/find_my_mobile_phone_1024x1024.jpg?v=1528674240" alt="find my mobile phone" style="margin-right: -489px; float: none;" width="1024x1024" height="1024x1024"></div>
                                          <h2 style="text-align: center;"></h2>
                                          <h2 style="text-align: left;"><strong>How to stop people viewing your mobile phone popup notifications</strong></h2>
                                          <p style="text-align: left;">Another thing that can be annoying is pop up notification on your phone, which you may not want people to have knowledge of and see.</p>
                                          <p> </p>
                                          <p style="text-align: left;"><img alt="chnage mobile phone notifications" src="//cdn.shopify.com/s/files/1/1852/8453/files/chnage_mobile_phone_notifications_1024x1024.jpg?v=1528723025" style="float: none;"></p>
                                          <p style="text-align: left;"><br>The Android phone displays notifications even while screen is locked on standby mode, this notification content can be hidden; there is a feature that supports this. To enable this, select setting then select notification and click on configure notifications. Upon activation the contents of your notifications gets hidden as it displays though the app names are still known.</p>
                                          <h2 style="text-align: left;"><strong>Nearby Mobile Device Scanning</strong></h2>
                                          <p style="text-align: left;">Nearby device scanning is a great feature that allows communication between devices that has this feature especially when close to each other. The limiting issue is distance and the fact that not everyone uses this feature, so its advisable to keep it disabled till it’s needed. It can be activated by selecting settings and clicking on more networks.</p>
                                          <p style="text-align: left;"><br><br></p>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/nearby_mobile_phone_device_scanning_1024x1024.jpg?v=1528726027" alt="nearby mobile phone device scanning" style="margin-right: -490px; float: none;" width="1024x1024" height="1024x1024"></div>
                                          <h2></h2>
                                          <h2 style="text-align: left;"><strong>Limit how much mobile date you use</strong></h2>
                                          <p style="text-align: left;">Android phones come with a feature that allows you set a limit to data usage. From settings select data usage then select set data limit, set the limit to fit in what fits you. This helps to monitor your mobile data usage so you don't run out before your monthly contract renews; you are prompted when the set limit is reached while browsing stops. To enable go to setting and click on "data usage".</p>
                                          <p style="text-align: left;"> </p>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/mobile_data_usage_1024x1024.jpg?v=1528742466" alt="mobile data usage" style="margin-right: -490px; float: none;" width="1024x1024" height="1024x1024"></div>
                                          <h2 style="text-align: left;"></h2>
                                          <h2 style="text-align: center;">If you like developer settings</h2>
                                          <p style="text-align: center;">Developers will love this, there is this setting that permits you explore and develop your skills as a developer. To know about it, select settings under menu, scroll to about phone, click on ‘build number’ a number of times till it says “you are a developer’.</p>
                                          <p style="text-align: left;"><br><br></p>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/mobile_developer_1024x1024.jpg?v=1528743909" alt="mobile developer" style="margin-right: -490px; float: none;" width="1024x1024" height="1024x1024"></div>
                                          <p style="text-align: left;"><br><br>This feature is a developer’s setting. Then scroll to developer options within your settings and scroll down to animation scale, click it to select the rate that suits you. <br>Whatever rate selected reflects on the speed of your phone. This option allows you to switch between apps.</p>
                                          <h2 style="text-align: left;">G-board</h2>
                                          <p style="text-align: left;">Do you know about G-board, you can learn more about it on the android phone? The keyboard settings can be accessed under settings, click on language input then virtual keyboard then select G-board select text correction and select whatever suits you.</p>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/gboard_mobile_phone_settings_1024x1024.jpg?v=1528744916" alt="gboard mobile phone settings" style="margin-right: -490px; float: none;" width="1024x1024" height="1024x1024"></div>
                                          <h2 style="text-align: left;"></h2>
                                          <h2 style="text-align: left;">Google Chrome data saver</h2>
                                          <p style="text-align: left;">Android phones come with Chrome; with the chrome feature you can save data. <br>Open the chrome app and click on menu icon, then click on setting and click on data saver. This feature enables chrome to compress pages before downloading them, its of great advantage when there is a slow network connection or less data to browse with.</p>
                                          <p style="text-align: left;"> </p>
                                          <div style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/1852/8453/files/chrome_mobile_data_saver_1024x1024.jpg?v=1528747637" alt="chrome mobile data saver" style="margin-right: -490px; float: none;" width="1024x1024" height="1024x1024"></div>
                                          <p style="text-align: left;"><br>We really hope that the tips in this article helps keep you safe and secure whilst getting the most out of your mobile phone.</p></div>
                                                  <ul class="meta">
                                                    <li>Aug 01, 2018</li>
                                                    <li class="post-categories"><span>Category: </span><a href="/blogs/news">News</a></li>
                                                    <li> Comments: 0</li>
                                                  </ul><div class="tags"><a href="/blogs/news/tagged/android-setting" title="Narrow search to articles also having tag android setting">android setting</a>
                                          <a href="/blogs/news/tagged/mobile-phone-settings" title="Narrow search to articles also having tag mobile phone settings">mobile phone settings</a>
                                          <a href="/blogs/news/tagged/mobile-phones" title="Narrow search to articles also having tag mobile phones">mobile phones</a>
                                          <a href="/blogs/news/tagged/privacy-settings" title="Narrow search to articles also having tag privacy settings">privacy settings</a>
                                          <a href="/blogs/news/tagged/smartphones" title="Narrow search to articles also having tag smartphones">smartphones</a>
                                          </div><div class="box box-no-advanced leave-reply" id="reply-block">
                                                    <div class="box-heading">Leave a comment</div>
                                                    <div class="box-content"><form method="post" action="/blogs/news/privacy-settings-on-your-android-mobile-phone-you-should-consider-changing/comments#comment_form" id="comment_form" accept-charset="UTF-8" class="comment-form"><input type="hidden" name="form_type" value="new_comment" /><input type="hidden" name="utf8" value="✓" /><div class="form-horizontal">
                                                        <div class="form-group required no-gutters">
                                                          <div class="col-xs-12 col-sm-6">
                                                            <label class="control-label" for="input-name">Name</label>
                                                            <input required="required" type="text" id="input-name" class="form-control" name="comment[author]" value="" />
                                                          </div>
                                                          <div class="col-xs-12 col-sm-6">
                                                            <label class="control-label" for="input-email">E-Mail</label>
                                                            <input required="required" type="email" id="input-email" class="form-control" name="comment[email]" value="" />
                                                          </div>
                                                        </div>
                                                        <div class="form-group required">
                                                          <div class="col-xs-12">
                                                            <label class="control-label" for="input-content">Message</label>
                                                            <textarea required="required" id="input-content" name="comment[body]" rows="10" class="form-control"></textarea>
                                                          </div>
                                                        </div>
                                                        <div class="text-center">
                                                          <button class="button button-large button-comment" id="button-comment" type="submit">Post comment</button>
                                                        </div>
                                                      </div></form></div>
                                                  </div>
                                                </div>
                                              </div>



                                        </div>








                                                       

                                    </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>









    


    {% include 'inc/footer.html' %}

{% endblock %}

{% block script %}

{% endblock %}
