{% extends 'inherit.html' %}

{% block head2 %}
	<title>{{ title }}</title>
	<meta name="{{ name }}" content="{{ description }}">
{% endblock %}


{% block body %}


    {% include 'inc/navbar.html' %}
{#  static page  #}

    <div class="container my-4">
        <h2>PRIVACY POLICY</h2>
        <ol>
            <li>
                <b>Scope</b>
                <p>This Privacy Policy (“Policy”) is operated by Ziegal Ltd. (the “Company”, “We”,”Us or “Our”), a private limited company with its registered office address at International House, Mosley Street, Manchester United Kingdom, M2 3HZ, as well as its affiliates or subsidiaries.
The Policy describes how information that we receive from you is collected, stored and distributed and your choices with respect to your personal information. All references in this Policy to a site include future samples and savings themed sites that we and our Affiliates may create, own and/or operate</p>
                <p>All issues and disputes relating this Policy shall be exclusively governed by the laws of England and Wales, without referring to the laws applicable in your jurisdiction where you are located. If you are not located in the United Kingdom, please note that any information you provide to us will be transferred to the United Kingdom and that you explicitly authorize this transfer. In addition, any information you provide to us may be transferred to a location outside the European Economic Area (“EEA”) or to any location outside United Kingdom.
Any dispute which arises out of or under this Policy shall be submitted to the exclusive jurisdiction of the Courts of England and Wales.</p>
            </li>
            <li>
                <b>Your Consent</b>
                <p>By becoming a member or purchasing a product or service and by using the website www.ziegal.co.uk (“Website”) (collectively the “Services”) in any manner, by providing us with your information or by accessing or viewing the Website or any of our applicable Services, you explicitly accept, without limitation, processing, the collection, use, transfer and storage of the personal information provided by you in the manner described in this Policy, including having your personal data transferred to, processed and stored in the United Kingdom or abroad by us, our third-party marketing partners and our parent, subsidiaries and entities under common control with us. </p>
                <p>Please read this Policy carefully since it affects your responsibilities under the related governing law. If you disagree with the way we collect and process personal information, please do not use the Website or use any Services in any manner, as well as please do not provide any information to us</p>
            </li>
            <li>
                <b>Collected Information</b>
                <p>We collect your following personal data while you use the Website in any manner, when you provide us with your any kind of information, while you access or view the Website or any of our applicable Services:

Personally identifiable information (“PII”)
Non-personally identifiable information (“non-PII”) (collectively, “Information”).
Non-PII is anonymous information that cannot identify you. Online, we use this information to track navigation through our Website.
PII is a kind of information that can be used to identify you or any other individual to whom the information may relate, personally. Online, this information is collected only when you provide it to us by registering as a member for an account or by filling out a form or purchasing on our Website.
PII consists of (including but not limited to) your full name and last name, date of birth, photograph, user name, password, geographic location, email address, postal address, phone number, profile information any financial account information provided for billing purposes such as any kind of payment process, any account-preference information you provide us, other information relevant to product group, customer surveys and/or offers and indirect information related with you. Sometimes we collect combinations of all these types of information.
You can review and update any PII you have elected to provide us prior to submitting the information. When you provide us your PII, you consent to the information practices described in this Policy.
We may also collect third-party data provided by our affiliates (which include our parent, subsidiaries and other entities under common control with us) (collectively, “Affiliates”) sources including those provided by our parent and its subsidiaries (“Affiliates”) to augment and/or verify the Information we collect from users and may also associate demographic and other data we collect, such as the user’s browser and device, with their information. Demographic information is a kind of information that is not unique to you in the sense that it refers to selected population characteristics, such as your ZIP code or postal code, age, preferences, gender, race or ethnicity and occupation.
We also collect behavioural information regarding how you use our Website, as well as your IP address, geolocation, browser and operating system type, domain names, access times and referring Website addresses.
We track and record a user’s behaviour while on our Website and associate it with the user’s PII so that if a user returns to our Website, we can, for example, avoid showing the user the same offers or asking the same survey questions. This information is necessary for providing personalised and location-based content, services and advertisements as well as analysing the use of resources, troubleshooting problems, preventing fraud and improving our services.
If you reached the Website by clicking on a link or an ad from another website or from an email sent from one of our marketing partners, then we may also capture that information to understand the interests of our users and to keep track of third parties who direct users to our Website. Users may supply information through our dynamically determined survey questions which we then associate with the user’s PII to help us identify the products and services they may be interested in.
We can also collect aggregated and technical information by any means, including by means of using cookies to receive information when your web browser accesses our Website. Aggregated data does not contain any PII that could be used to contact or identify you.</p>
            </li>
            <li>
                <b>Cookies</b>
                <p>A cookie is a small piece of data sent from a website and stored on the user's computer by the user's web browser while the user is browsing. Cookies are designed for websites to remember stateful information (such as items added in the shopping cart in an online store) or to record the user's browsing activity (including clicking particular buttons, logging in, or recording which pages were visited in the past). They can also be used to remember arbitrary pieces of information that the user previously entered into form fields such as names, addresses, passwords, and credit card numbers</p>
                <p>Cookies do not allow us with access to your computer or any information about you, other than that which you choose to share with us.
We may use cookies to analyse our web traffic using an analytics package, identify whether you are signed in to our Website, for test content, store information about your preferences and to recognise when you return to our Website.
You can use your web browser’s cookie settings to determine how our Website uses cookies. If you do not want our Website to store cookies on your computer or device, you should set your web browser to refuse cookies.</p>
            <p>However, please note that cookies allow you to take advantage of some of our Website’s best features, so we recommend that you leave them turned on</p>
            <p>Unless you have changed your browser to refuse cookies, our Website will issue cookies when you visit it.</p>
            </li>
            <li>
                <b>Use of Information</b>
                <p>We may use the Information (whether PII or non-PII) we gather through the Website for the following purposes:
Provide our Services, promotional and marketing purposes and responding to any queries you may have.
Help administer and protect the security of the Website and provide communication and other services and, in that regard, may share Information with third parties, including vendors and contractors who provide services to us.
Operate and improve the Services, foster a positive user experience and deliver the products and Services.
Complete your request to register as a member of our Website.
Complete your request to sign up to receive information via email at our Website.
Customize the Website according to your interests.
Process or complete transactions that a user requests including providing a user’s Information to Affiliates and other third parties.
Contact users regarding customer service and administrative issues, such as questions about a user’s specific request, or otherwise respond to a user’s comments or requests.
Notify you of advertisements, promotions, special offers or other information which we think you may find interesting related to the Services or our Website, use the email address which you have provided.
Track online behavior for behavioral advertising and other marketing purposes. If a user registers on our Website, the user may receive relevant third-party daily emails from that Website, its exclusive emailing partner and other websites we or our Affiliates own and/or operate.
Augment Information by enhancing it with other data sources provided by third-parties and/or our Affiliates to enable us, for example, to gain deeper insights into our users.
Comply with valid legal procedures, requirements, regulations and statutes.
From time to time, contact you by email, phone, fax or mail.</p>
            </li>
            <li>
                <b>Disclosure of Information</b>
                <p>We may disclose your Information to third parties within your country and abroad, combined personal, demographic, behavioural or indirect information, as set forth below.  In each of these situations, the recipients of your data may potentially be located in any country in the world.</p>
            </li>
            <ol>
                <li>We may share your Information with third parties who help us in the delivery of our own products and Services to you, but only to the extent necessary for them to assist and support us as we attempt to better provide enhanced products and services to you and to complete your requests to receive information from us via email, use our online tools or register as a member of our Website.</li>
                <li>Your Profile Information of your Ziegal account on the Website will be displayed on the Ziegal account profile page publicly and with your permission, on third party sites.</li>
                <li>We may share aggregated general information collected by our Website with subsidiaries, affiliates or parent corporations within the Ziegal Brands with our service providers for any purposes.</li>
                <li>We disclose Information if legally required by law or where we have a good faith belief that such action is necessary to comply with a current judicial proceeding, a criminal investigation, a court order, or legal process served on our Company in direct relation to you. We may also share your personally identifiable information if we believe it is necessary in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of the Terms of Use of our Website and Services, or as otherwise required by law.</li>
                <li>If you have established an account with us, we may share the information submitted under your account among any or all of the Ziegal Brands and affiliated companies and our Website in order to improve the quality of our services.</li>
                <li> We may disclose and transfer your Information to a third party who acquires any or all of the Company’s business units.</li>
                <li>We may provide, sell or rent your Information to Affiliates and other third parties for advertising purposes.</li>
                <li>In the event that another company acquires all or substantially all of the assets related to our business, we reserve the right to include any or all stored personally identifiable information among the assets transferred to the acquiring company.</li>
                <li>We may store and process personally identifiable information collected on our Website in the United Kingdom or any other country in which we maintain facilities. By using our Website and Services, you consent to the transfer of your information among these facilities, including those located outside your country.</li>
                <li>
                    <b>Third Party Analytics</b>
                    <p>We may use Google Analytics and similar tools provided by our third-party partners to help analyse how users interact with the sites and display customized ads and other content to our users during a current browsing session or in the future when the user is online. These analytics are performed by using the technological means described above to monitor a user’s interactions with the Website and do not involve the collection of any additional PII.</p>
                </li>
                <li>
                    <b>Links to Other Websites and Third Party Privacy Policies</b>
                    <p>The Website may contain links to other web sites or applications over which we have no control. We and our Affiliates and marketing partners may advertise and promote the Website and we may permit our marketing partners to place ads and other content, including links to other websites, on the Website. While we try to post links only to third-party websites that share our respect for privacy, this Policy and our privacy practices do not extend to and may differ from those of third-party websites that can be accessed through links on the Website.</p>
                    <p>The Company is not responsible for the privacy policies or practices of other sites or applications to which you choose to link from here. We encourage you to review the privacy policies of those other sites so you can understand how they collect, use and share your information. In particular, certain parties may have facilities that are located in a different jurisdiction than either you or us. In case you proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.
We also do not control the data use practices of either (a) others who may access your Information on the Website, or (b) third party advertising networks. We encourage you to review the privacy policies and opt-out choices of those third parties so you can understand how they collect, use and share your information.</p>
                </li>
                <li>
                    <b>Security</b>
                    <p>To prevent unauthorized disclosure or access to your information, we have implemented strong physical and electronic security safeguards.
However, we cannot guarantee the security of any information you provide us in the Website or related to the Services.
If you believe that your information is no longer secure, please contact us immediately so that we will use our best efforts to take precautions about the security concern.</p>
                </li>
                <li>
                    <b>Social Media</b>
                    <p>We collect your information about you and your social media connections through social media networks such as Facebook, Twitter, Instagram which identify you as a member, which will include but not limited to your Profile ID, name, age, gender, location, activities, likes, interests, religious and political views. In this respect, for instance, with your permission, we can post to your Facebook Wall about a purchase that you completed on the Website.</p>
                </li>
                <li>
                    <b>
                        Your Choices

                    </b>
                    <p>Once your account is deleted, we may delete your information from the database at our sole discretion. If your personal information was previously accessed by others using the Website, we are not able to delete the information or copies thereof from their accounts or systems. Even after you remove information from your profile or delete your account, copies of that information may remain viewable elsewhere to the extent it has been shared with others or it was copied or stored by other users.
If you do not want your information to be processed as described by this Policy, you may revoke your consent to our Privacy Policy. If you wish to do so, contact us through the Website. However, please note that if you do withdraw your consent, you will not be able to use the relevant services and your account and profile information will be deleted.
If you previously opted to receive newsletters, commercial emails or other communications from the Company or third parties, but subsequently change your mind, you may opt out by editing your account or opting out by the link stated in the relevant communications. If you previously opted not to receive such communications, you may later opt in by editing your account profile. You may not opt out of receiving informational and service-related communications or security updates.</p>
                </li>
                <li>
                    <b>Changes to Policy</b>
                    <p>We will post those changes through a prominent notice on the Website.
We reserve the right to change this Policy as we deem necessary or appropriate because of legal compliance requirements or changes in our business practices. If you have provided us with an email address, we will endeavour to notify you, by email to that address, of any material change to how we will use personally identifiable information.
If you have any queries in relation to this Policy, please contact us through the Website.</p>
                </li>
            </ol>
        </ol>
        

    </div>


    {% include 'inc/footer.html' %}
{% endblock %}

{% block script %}

{% endblock %}